{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/boarding.css' %}">
    <link rel="stylesheet" href="{% static 'css/btn.css' %}">
{% endblock %}

{% block title %}Login code{% endblock %}

{% block content %}
    <form action="{% url 'new_session' %}" method="post">
        {% csrf_token %}
        {% for message in messages %}
            <input type="hidden" name="username" id="" value="{{ message }}">
        {% endfor %}
        <input type="text" name="pass_code" id="" placeholder="Enter your login code" required minlength="2">
        <a class="link" href="{% url 'login' %}">I dont have an account</a>
    </form>
{% endblock %}
