{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/boarding.css' %}">
<link rel="stylesheet" href="{% static 'css/btn.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<form action="{% url 'create' %}" method="post" autocomplete="off" id="usernameForm">
    {% csrf_token %}
    <input type="text" name="username" id="usernameInput" placeholder="Enter a username" required minlength="1" maxlength="16">
</form>
{% endblock %}

{% block script %}
<script src="{% static 'boarding.js' %}"></script>
{% endblock %}
