{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/boarding.css' %}">
    <link rel="stylesheet" href="{% static 'css/btn.css' %}">
{% endblock %}

{% block content %}
     <form class="gapLarge" action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <input class="title" type="text" name="username" id="" placeholder="Press to enter a username">
        <button class="btn" type="submit">Continue</button>
    </form>
{% endblock %}
