{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/boarding.css' %}">
    <link rel="stylesheet" href="{% static 'css/btn.css' %}">
{% endblock %}

{% block content %}
<main class="gapLarge">
    <h1 class="title">Welcome!</h1>

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="" placeholder="Press to enter a username">
        <button class="btn" type="submit">Next</button>
    </form>
</main>
{% endblock %}
