{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEADERBOARD - admin</title>
    <script type="module" src="{% static 'socket.js' %}"></script>
    <script type="module" src="{% static 'tools_admin.js' %}"></script>
    <script type="module" src="{% static 'tools_shared.js' %}"></script>
</head>
<body>
    <p>Online list: <span id="online_list"></span></p>
    <hr>
    <p>Current show: <span id="current_show_label">{{ show }}</span></p>
    {% if shows %}
        <select name="" id="">
            {% for show in shows %}
                <option value="{{ show.id }}">{{ show.name }}</option>
            {% endfor %}
        </select>
    {% endif %}
    <hr>
    <p>Current performance: <span id="performance_id"></span></p>
    <p>Song: <span id="song_name"></span></p>
    <p>Country: <span id="country_name"></span></p>
    <p>Name: <span id="artist_name"></span></p>
    <button id="live_start">Start</button>
    <button id="live_prev">Previous</button>
    <button id="live_next">Next</button>
    <button>Switch to scoreboard</button>
    <button></button>
    <script id="performances_data" type="application/json">
        {{ performances|safe }}
    </script>
</body>
</html>