{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/live.css' %}">
    <link rel="stylesheet" href="{% static 'css/btn.css' %}">
{% endblock %}

{% block content %}
<main>
    {% if error %}
        {{error}}
    {% endif %}
    <div class="headerImg" id="participantImg">
        <div class="gradient"></div>
    </div>

    <header class="container gapLarge">
        <div class="wrapper gapLarge headerContent grow">
            <div class="container gapMinimal grow">
                <p class="footnote" id="current_show_label">{{ show }}</p>
                <h2 class="title" id="country_name"></h2>
            </div>

            <img class="heart" id="heartImg" src="{% static 'img/hearts/Switzerland.svg' %}" alt="">
        </div>

        <div class="wrapper gapLarge headerContent">
            <p class="footnote grow" id="artist_name"></p>
            <p class="footnote" id="song_name"></p>
        </div>
    </header>
    
    <div class="wrapper scoreboard gridSpan" id="online_list">
        <p class="playerVote" id="online_list_dummy">No users connected.</p>
    </div>

    <section class="container">
            <button class="btn" id="live_start">Start</button>
            <button class="btn" id="live_prev">Previous</button>
            <button class="btn" id="live_next">Next</button>
            <button class="btn">Stop live</button>
        <button class="btn">Switch to scoreboard</button>
    </section>

    <script id="performances_data" type="application/json">
        {{ performances|safe }}
    </script>
</main>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'socket.js' %}"></script>
    <script type="module" src="{% static 'tools_admin.js' %}"></script>
    <script type="module" src="{% static 'tools_shared.js' %}"></script>
{% endblock %}
