{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/views/live.css' %}">
    <link rel="stylesheet" href="{% static 'css/btn.css' %}">
    <link rel="stylesheet" href="{% static 'css/tools.css' %}">
{% endblock %}

{% block content %}
<div id="app">

    {% if error %}
        {{error}}
    {% endif %}

    <div class="wrapper scoreboard center" id="online_list_wrapper">
        <div class="wrapper center" id="online_list">
            <p class="playerVote" id="online_list_dummy">No other users connected</p>
        </div>
    </div> 

    <header>
        <div class="container cover" id="participantImg">
            <div class="container gapSmall spacing textCon gradient">
                <div class="wrapper gapSmall spacing">
                    <p class="secondary shadow" id="current_show_label">{{ show }}</p>
                </div>

                <div class="container gapSmall">
                    <div class="wrapper gapSmall spacing coverBody">
                        <h2 class="title">
                            <span class="title" id="country_name"></span> (pid: <span class="title" id="performance_id"></span>)
                        </h2>
                        <img class="heart" id="heartImg" src="{% static 'img/hearts/Switzerland.svg' %}" alt="flag">
                    </div>
        
                    <div class="wrapper gapSmall spacing">
                        <p class="secondary shadow" id="artist_name"></p>
                        <p class="secondary shadow" id="song_name"></p>
                    </div>
                </div>
            </div>
        </div>

        <nav class="gapSmall">
            <button class="ctrlBtn start_live" id="live_start">
                <span id="admin_controller_label">Start</span>  
            </button>      

            <button class="ctrlBtn end_live" id="live_stop">Stop</button>

            <button class="navBtn" id="live_prev">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M798-281 550-447q-9-6-13.5-14.5T532-480q0-10 4.5-18.5T550-513l248-166q5-4 11-5t11-1q16 0 28 11t12 29v330q0 18-12 29t-28 11q-5 0-11-1t-11-5Zm-400 0L150-447q-9-6-13.5-14.5T132-480q0-10 4.5-18.5T150-513l248-166q5-4 11-5t11-1q16 0 28 11t12 29v330q0 18-12 29t-28 11q-5 0-11-1t-11-5Z"/></svg>
                <span>Rewind</span>
            </button>

            <button class="navBtn" id="live_next">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M100-315v-330q0-18 12-29t28-11q5 0 11 1t11 5l248 166q9 6 13.5 14.5T428-480q0 10-4.5 18.5T410-447L162-281q-5 4-11 5t-11 1q-16 0-28-11t-12-29Zm400 0v-330q0-18 12-29t28-11q5 0 11 1t11 5l248 166q9 6 13.5 14.5T828-480q0 10-4.5 18.5T810-447L562-281q-5 4-11 5t-11 1q-16 0-28-11t-12-29Z"/></svg>
                <span>Forward</span>
            </button>
        </nav>
    </header>

    <div class="gapSmall controllerBtnWrapper">
        <button class="btn results" id="B_ResultRedirect">Results</button>
        <button class="btn" id="B_ScoreBoard">Scoreboard</button>
    </div>

    <div class="container controllerFeed">
        <div class="hidden" id="scoreBoardMode">
            {% if show.name != "GF" %}
                {% for performance in forVote %}
                    <div class="dataRow">
                        <label for="vote_{{performance.participant.country}}" class="country" >
                            <img {% if performance.passed %} class="auto_qualified" {% endif %} width="20px" src="{% static 'img/hearts/' %}{{ performance.participant.country }}.svg" alt="">
                            <p {% if performance.passed %} class="auto_qualified" {% endif %}>{{performance.participant.country}}</p>
                        </label>
                        <input {% if performance.passed %} class="auto_qualified" checked disabled {% endif %} type="checkbox" name="" id="vote_{{performance.participant.country}}" class="voteResultInput" data-performance="{{ performance.id }}" data-criteria="1">
                    </div>
                {% endfor %}
            {% else %}

                {% for performance in forVote %}
                    
                    <div class="container gapSmall dataRow">
                        <label class="wrapper gapMedium" for="vote_{{performance.participant.country}}" class="country">
                            <img {% if performance.passed %} class="auto_qualified" {% endif %} width="20px" src="{% static 'img/hearts/' %}{{ performance.participant.country }}.svg" alt="">
                            <h2 {% if performance.passed %} class="auto_qualified" {% endif %}>{{performance.participant.country}}</h2>
                        </label>

                        <div class="wrapper gapSmall">
                            <div class="container gapSmall">
                                <span class="secondary">Jury</span>
                                <input class="toolInput" type="number" name="" id="vote_{{performance.participant.country}}" class="voteResultInput" data-performance="{{ performance.id }}" data-criteria="2" value="{{performance.jury}}">
                            </div>
                            <div class="container gapSmall">
                                <span class="secondary">Votes</span>
                                <input class="toolInput" type="number" name="" id="vote_{{performance.participant.country}}" class="voteResultInput" data-performance="{{ performance.id }}" data-criteria="3" value="{{performance.votes}}">
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
    <script type="module" src="{% static 'socket.js' %}"></script>
    <script type="module" src="{% static 'tools_admin.js' %}"></script>
    <script type="module" src="{% static 'tools_shared.js' %}"></script>
    <script id="performances_data" type="application/json">
        {{ performances|safe }}
    </script>
{% endblock %}
