.fadeTransition {
    transition: opacity 0.3s ease;
    opacity: 1;
  }
  
.fadeOut {
    opacity: 0;
}

#online_list_wrapper {
    overflow: hidden;
    /* position: relative;
    width: 100%;
    height: auto; */
  }
  
#online_list {
    display:flex;
    width: 100%;
    /* white-space: nowrap; */
    /* position: relative; */
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.qualified {
    color: var(--10);
}

.unqualified {
    color: var(--1);
}

.auto_qualified {
    opacity: 0.5;
}