main {
    height: 100%;

    /* overflow: hidden; */
    box-sizing: border-box;

    display: grid;
    grid-template-columns: minmax(256px, 512px);
    justify-content: center;
}

nav {
    padding: var(--medium) var(--large);
}

header {
    border-radius: var(--medium);
    outline: 1px solid var(--primary);

    box-sizing: border-box;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.headerBody {
    height: 100%;
    background: linear-gradient(0deg, rgba(10, 10, 10, 0.75) 0%, rgba(10, 10, 10, 0.25) 100%);

    display: grid;
    grid-template-rows: minmax(max-content, 1fr) max-content;
}

.headerContentWrapper {
    padding: var(--large);
}

.heart {
    aspect-ratio: 1;
    width: 48px;
}

.effects {
    padding: var(--large) 0;
    backdrop-filter: blur(var(--minimal));
    background: linear-gradient(0deg, rgba(10, 10, 10, 1) 0%, rgba(10, 10, 10, 0.5) 100%);
}

.playerVotes {
    padding: var(--medium) 0;
    border-top: 1px solid var(--primary);
    backdrop-filter: blur(var(--large));
    background-color: var(--primary);
}

.playerVote {
    margin-left: var(--large);
}

.forms {
    padding: var(--large);
    height: 100%;
    overflow-y: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none; 
}
.forms::-webkit-scrollbar {
    display: none;
}

section {
    padding: var(--large) 0;
    align-items: center;
}

.cardFormHeader {
    align-items: center;
}

.btnGrid {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.btnGrid button {
    aspect-ratio: 1;

    border-radius: 100%;
    border: 1px solid var(--primary);

    cursor: pointer;

    font-size: 18px;
    font-weight: 600;

    color: var(--text);
    background: none;
}

.btnGrid button:nth-child(1) {
    border-color: var(--1);
}
.btnGrid button:nth-child(1):hover {
    background-color: var(--1-hover);
}

.btnGrid button:nth-child(2) {
    border-color: var(--2);
}
.btnGrid button:nth-child(2):hover {
    background-color: var(--2-hover);
}

.btnGrid button:nth-child(3) {
    border-color: var(--3);
}
.btnGrid button:nth-child(3):hover {
    background-color: var(--3-hover);
}

.btnGrid button:nth-child(4) {
    border-color: var(--4);
}
.btnGrid button:nth-child(4):hover {
    background-color: var(--4-hover);
}

.btnGrid button:nth-child(5) {
    border-color: var(--5);
}
.btnGrid button:nth-child(5):hover {
    background-color: var(--5-hover);
}

.btnGrid button:nth-child(6) {
    border-color: var(--6);
}
.btnGrid button:nth-child(6):hover {
    background-color: var(--6-hover);
}

.btnGrid button:nth-child(7) {
    border-color: var(--7);
}
.btnGrid button:nth-child(7):hover {
    background-color: var(--7-hover);
}

.btnGrid button:nth-child(8) {
    border-color: var(--8);
}
.btnGrid button:nth-child(8):hover {
    background-color: var(--8-hover);
}

.btnGrid button:nth-child(9) {
    border-color: var(--10);
}
.btnGrid button:nth-child(9):hover {
    background-color: var(--10-hover);
}

.btnGrid button:nth-child(10) {
    border-color: var(--12);
}
.btnGrid button:nth-child(10):hover {
    background-color: var(--12-hover);
}
