{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/live.css' %}">
    <script type="module" src="{% static 'socket.js' %}"></script>
    <script type="module" src="{% static 'tools_shared.js' %}"></script>
    <script type="module" src="{% static 'tools_player.js' %}"></script>
{% endblock %}

{% block content %}

    {% if error %}
        {{error}}
    {% endif %}

    <nav class="wrapper gapLarge center">
        <h1 class="title grow" id="current_show_label">{{ show }}</h1>

        <div class="wrapper gapSmall">
            <button class="btn" id="C_Previous">P</button> <!-- previous -->
            <button class="btn" id="C_Live">L</button> <!-- live  -->
            <button class="btn" id="C_Next">N</button> <!-- next -->
        </div>
    </nav>

    <header id="participantImg">
        <div class="container headerBody">
            <div class="wrapper gapLarge center headerContentWrapper">
                <div class="container gapSmall grow">
                    <p class="footnote" id="country_name"></p>
                    <h2><span class="title" id="artist_name"></span> - <span class="title" id="song_name"></span></h2>
                </div>
        
                <img class="heart" id="heartImg" src="{% static 'img/hearts/Switzerland.svg' %}" alt="">
            </div>
            
            <div class="wrapper playerVotes gridSpan" id="online_list">
                <p class="playerVote" id="online_list_dummy">No users connected.</p>
            </div>
        </div>
    </header>
    <div class="container forms">
        {% if show == "Grand Final" %}
            <section class="container gapLarge" action="">
                <div class="container gapSmall cardFormHeader">
                    <h2 class="title grow">Musical Quality</h2>
                    <p class="footnote">Song, vocal, arrangement, melody, lyrics</p>
                </div>

                <div class="btnGrid gapMedium" data-criteria="2">
                    <button class="voteBtn active" data-grade="1">1</button>
                    <button class="voteBtn" data-grade="2">2</button>
                    <button class="voteBtn" data-grade="3">3</button>
                    <button class="voteBtn" data-grade="4">4</button>
                    <button class="voteBtn" data-grade="5">5</button>
                    <button class="voteBtn" data-grade="6">6</button>
                    <button class="voteBtn" data-grade="7">7</button>
                    <button class="voteBtn" data-grade="8">8</button>
                    <button class="voteBtn" data-grade="10">10</button>
                    <button class="voteBtn" data-grade="12">12</button>
                </div>

                <p class="footnote">1 of 3</p>
            </section>

            <section class="container gapLarge" action="">
                <div class="container gapSmall cardFormHeader">
                    <h2 class="title grow">Stage Performance</h2>
                    <p class="footnote">Artist’s charisma, delivery</p>
                </div>

                <div class="btnGrid gapMedium" data-criteria="3">
                    <button class="voteBtn" data-grade="1">1</button>
                    <button class="voteBtn" data-grade="2">2</button>
                    <button class="voteBtn" data-grade="3">3</button>
                    <button class="voteBtn" data-grade="4">4</button>
                    <button class="voteBtn" data-grade="5">5</button>
                    <button class="voteBtn" data-grade="6">6</button>
                    <button class="voteBtn" data-grade="7">7</button>
                    <button class="voteBtn" data-grade="8">8</button>
                    <button class="voteBtn" data-grade="10">10</button>
                    <button class="voteBtn" data-grade="12">12</button>
                </div>

                <p class="footnote">2 of 3</p>
            </section>

            <section class="container gapLarge" action="">
                <div class="container gapSmall cardFormHeader">
                    <h2 class="title grow">Visual Presentation</h2>
                    <p class="footnote">Stage setup, lighting, costumes, graphics</p>
                </div>

                <div class="btnGrid gapMedium" data-criteria="4">
                    <button class="voteBtn" data-grade="1">1</button>
                    <button class="voteBtn" data-grade="2">2</button>
                    <button class="voteBtn" data-grade="3">3</button>
                    <button class="voteBtn" data-grade="4">4</button>
                    <button class="voteBtn" data-grade="5">5</button>
                    <button class="voteBtn" data-grade="6">6</button>
                    <button class="voteBtn" data-grade="7">7</button>
                    <button class="voteBtn" data-grade="8">8</button>
                    <button class="voteBtn" data-grade="10">10</button>
                    <button class="voteBtn" data-grade="12">12</button>
                </div>

                <p class="footnote">3 of 3</p>
            </section>
        {% else %}
            <section class="container gapLarge" action="">
                <div class="container gapSmall cardFormHeader">
                    <h2 class="title grow">Visual Presentation</h2>
                    <p class="footnote">Stage setup, lighting, costumes, graphics</p>
                </div>

                <div class="btnGrid gapMedium" data-criteria="1">
                    <button class="voteBtn" data-grade="0">Q</button>
                    <button class="voteBtn" data-grade="1">NQ</button>
                </div>
            </section>
        {% endif %}
    </div>


    <script id="performances_data" type="application/json">
        {{ performances_data|safe }}
    </script>
{% endblock %}
