{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/live.css' %}">
    <script type="module" src="{% static 'socket.js' %}"></script>
    <script type="module" src="{% static 'tools_shared.js' %}"></script>
    <script type="module" src="{% static 'tools_player.js' %}"></script>
{% endblock %}

{% block content %}

    {% if error %}
        {{error}}
    {% endif %}

    <header class="wrapper gapLarge center">
        <h1 class="title grow" id="current_show_label">{{ show }}</h1>
    </header>

    <div class="wrapper gapMedium feed">
    {% for participant in participants %}
        <div class="container gapSmall card">
            <div class="cardHeaderImg" id="participantImg" style="background-image: url('{% static "img/" %}{{ participant.country }}.jpg');">
                <div class="container gapMedium effects">
                    <div class="wrapper gapMedium cardHeader">
                        <div class="container gapSmall">
                            <p class="footnote" id="country_name">{{ participant.country }}</p>
                            <h2 class="title"><span id="artist_name">{{ participant.name }}</span> - <span id="song_name">{{ participant.song }}</span></h2>
                        </div>
                        <img class="heart" id="heartImg" src="{% static 'img/hearts/' %}{{ participant.country }}.svg" alt="">
                    </div>

                    <div class="wrapper playerVotes" id="online_list">
                        <div class="wrapper gapMedium playerVote">
                            <p>Username</p>
                            <p class="">0</p>
                            <p class="">0</p>
                            <p class="">0</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container gapLarge forms">
                <section class="container gapLarge" action="">
                    <div class="container gapSmall cardFormHeader">
                        <div class="wrapper center">
                            <h2 class="title grow">Question</h2>
                            <p class="footnote">1 of 3</p>
                        </div>
                        <p class="footnote">Description</p>
                    </div>
        
                    <div class="btnGrid gapMedium" data-criteria="2">
                        <button class="voteBtn">1</button>
                        <button class="voteBtn">2</button>
                        <button class="voteBtn">3</button>
                        <button class="voteBtn">4</button>
                        <button class="voteBtn">5</button>
                        <button class="voteBtn">6</button>
                        <button class="voteBtn">7</button>
                        <button class="voteBtn">8</button>
                        <button class="voteBtn">10</button>
                        <button class="voteBtn">12</button>
                    </div>
                </section>
    
                <section class="container gapLarge" action="">
                    <div class="container gapSmall cardFormHeader">
                        <div class="wrapper center">
                            <h2 class="title grow">Question</h2>
                            <p class="footnote">2 of 3</p>
                        </div>
                        <p class="footnote">Description</p>
                    </div>
        
                    <div class="btnGrid gapMedium" data-criteria="3">
                        <button class="voteBtn">1</button>
                        <button class="voteBtn">2</button>
                        <button class="voteBtn">3</button>
                        <button class="voteBtn">4</button>
                        <button class="voteBtn">5</button>
                        <button class="voteBtn">6</button>
                        <button class="voteBtn">7</button>
                        <button class="voteBtn">8</button>
                        <button class="voteBtn">10</button>
                        <button class="voteBtn">12</button>
                    </div>
                </section>
    
                <section class="container gapLarge" action="">
                    <div class="container gapSmall cardFormHeader">
                        <div class="wrapper center">
                            <h2 class="title grow">Question</h2>
                            <p class="footnote">3 of 3</p>
                        </div>
                        <p class="footnote">Description</p>
                    </div>
        
                    <div class="btnGrid gapMedium" data-criteria="4">
                        <button class="voteBtn">1</button>
                        <button class="voteBtn">2</button>
                        <button class="voteBtn">3</button>
                        <button class="voteBtn">4</button>
                        <button class="voteBtn">5</button>
                        <button class="voteBtn">6</button>
                        <button class="voteBtn">7</button>
                        <button class="voteBtn">8</button>
                        <button class="voteBtn">10</button>
                        <button class="voteBtn">12</button>
                    </div>
                </section>
            </div>
        </div>
        {% endfor %}
    </div>
    <script id="performances_data" type="application/json">
        {{ performances_data|safe }}
    </script>
{% endblock %}
